<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Smart-Fit Chat</title>
        <link rel="stylesheet" href="../static/css/styles.css" />
    </head>
    <body>
        <div class="chat-container">
            <div class="chat-header">Smart-Fit Chatbot 💬</div>
            <div id="chat-messages" class="chat-messages"></div>
            <div class="chat-footer">
                <div id="chat-options" class="suggestions"></div>
                <div class="input-section">
                    <!-- <input type="text" id="chat-input" placeholder="Type your message..." />
                <button id="send-btn">Send</button> -->
                </div>
            </div>
        </div>
        <script src="../static/js/app.js"></script>
    </body>
</html>